/* This file is automatically managed and will be overwritten from time to time. */
/* Do not manually edit this file. */

/* Provided by lazylayouts-addon-0.2.0.jar */
@import "../../../VAADIN/addons/lazylayouts/lazylayouts.scss";


/* Import and include this mixin into your project theme to include the addon themes */
@mixin addons {
	@include lazylayouts;
}

