@import "../valo/valo.scss";
@import "addons.scss";

// Prefix all selectors in your theme with .demo
.valobased {

  // Include valo theme styles in your theme
  @include valo;

  // Include addons (including lazylayouts)
  @include addons;

  .lazy-loaded-layout {

  }

  .header-label {
    font-size: 16px;
  }

  .timestamp {
    text-align: right;
    color: gray;
  }

  .error-header {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
  }

  .error-desc {
    font-size: 16px;
    font-style: italic;
    line-height: 1;
  }
}